@use "sass:color";

$bg: #0F1010;
$fg: #C9C7CD;
$white: #E1DBEB;
$red: #F8C8DC;

$gray02: #2A2A2A;

.Time {
  font-family: "CaskaydiaCove Nerd Font";
  font-weight: 600;
  font-size: 1.1em;
  min-height: 1.60em;
  min-width: 16.5em;
  color: $white;
  background-color: $gray02;
  /* padding: 0.225em 0.4em; */
  border: 3px solid $red;
  border-radius: 25px;
}
